<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a style="color: #e8c4b4;" class="navbar-brand" href="{% url 'home' %}">MappingProject</a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'first' %}">First Age</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'second' %}">Second Age</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'third' %}">Third Age</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'fourth' %}">Fourth Age</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
