<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">MappingProject</a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#">First Age</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Second Age</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Third Age</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Fourth Age</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
